@model dynamic

<h1>Example forms to test model IO using Seleno</h1>

<ul>
    <li>@Html.ActionLink("Fixture A values", "FixtureA", "Form1")</li>
    <li>@Html.ActionLink("Empty form, but expecting Fixture A upon submit", "ExpectFixtureA", "Form1")</li>
</ul>

<h2>Form with button to Fixture A values</h2>

@using (Html.BeginForm("FixtureA", "Form1", FormMethod.Get))
{
    <input type="submit" value="Click me!" />
}
