<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Last Name
        </dt>

        <dd>
            <span id="LastName">
                Alexander
            </span>

        </dd>

        <dt>
            First Name
        </dt>

        <dd>
            <span id="FirstMidName">
                Carson
            </span>

        </dd>

        <dt>
            Enrollment Date
        </dt>

        <dd>
            <span id="EnrollmentDate">
                2010-09-01
            </span>

        </dd>

        <dt>
            Enrollments
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Course Title</th>
                    <th>Grade</th>
                </tr>
                <tr>
                    <td>
                        <span id="item_Course_Title">
                            Chemistry
                        </span>

                    </td>
                    <td>
                        <span id="item_Grade">
                            A
                        </span>

                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="item_Course_Title">
                            Microeconomics
                        </span>

                    </td>
                    <td>
                        <span id="item_Grade">
                            C
                        </span>

                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="item_Course_Title">
                            Macroeconomics
                        </span>

                    </td>
                    <td>
                        <span id="item_Grade">
                            B
                        </span>

                    </td>
                </tr>
            </table>
        </dd>
    </dl>
</div>
