<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AllForOne" version="1.0.0.27" targetFramework="net40" />
  <package id="Autofac" version="4.9.1" targetFramework="net471" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net471" />
  <package id="ILMerge" version="3.0.21" targetFramework="net471" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" requireReinstallation="true" />
  <package id="Mvc3Futures" version="3.0.20105.0" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net471" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net471" />
  <package id="System.Web.Http.Common" version="4.0.20126.16343" requireReinstallation="true" />
</packages>