<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net40" />
  <package id="FluentAssertions" version="3.3.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="NUnit" version="2.6.4" targetFramework="net40" />
  <package id="PhantomJS" version="2.0.0" targetFramework="net40" />
  <package id="Selenium.Support" version="2.45.0" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="2.45.0" targetFramework="net40" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.15.0.0" targetFramework="net40" />
  <package id="Selenium.WebDriver.IEDriver" version="2.45.0.1" targetFramework="net40" />
  <package id="TestStack.BDDfy" version="4.1.2" targetFramework="net40" />
</packages>